.welcome-sub-heading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px
}

.welcome-text-block {
  min-height: 80px;
  padding: 0px 20px 100px 20px;
}

.list {
  font-family: monospace;
  margin: 1em 0px;
}
