.form-button-delete-wrapper {
	text-align: right;
}

.form-success {
	background: lightgreen;
	padding: 14px;
	border-radius: 10px;
	width: 80%;
	max-width: 200px;
	text-align: center
}


.form-error {
  margin-bottom: 10px;
  color: red;
}

.form-control {
  margin-bottom: 10px;
}

.form-bottom-buttons-wrapper {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.form-bottom-buttons {
	  padding: 20px 25px 20px 15px;
}
